<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button color="primary" (click)="close()">
        <ion-icon name="close" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary" class="head">Select Country</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar color="light" placeholder="Search..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-radio-group>

    <ion-item lines="none">
      <ion-radio mode="md" (ionSelect)="changeShippingAddress($event)"></ion-radio>
      <ion-label>item 1</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-radio mode="md" (ionSelect)="changeShippingAddress($event)"></ion-radio>
      <ion-label>item 1</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-radio mode="md" (ionSelect)="changeShippingAddress($event)"></ion-radio>
      <ion-label>item 1</ion-label>
    </ion-item>

  </ion-radio-group>

</ion-content>