<ion-header>
  <ion-toolbar color="light">
    <ion-buttons>
      <ion-button color="primary" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary" class="head">Shipping details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item lines="none" class="input-item">
    <ion-label class="input-lbl add-head">Use same info as billing</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="floating" class="input-lbl">Ship to contact</ion-label>
    <ion-input type="text" color="primary" class="input-box boxes"></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="floating" class="input-lbl">Phone</ion-label>
    <ion-input type="text" color="primary" class="input-box boxes"></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="floating" class="input-lbl">Address line 1</ion-label>
    <ion-input type="text" color="primary" class="input-box boxes"></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="floating" class="input-lbl">Address line 2</ion-label>
    <ion-input type="text" color="primary" class="input-box boxes"></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="floating" class="input-lbl">City</ion-label>
    <ion-input type="text" color="primary" class="input-box boxes"></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="floating" class="input-lbl">Postal / ZIP Code</ion-label>
    <ion-input type="text" color="primary" class="input-box boxes"></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="floating" class="input-lbl">Delivery instructions</ion-label>
    <ion-input type="text" color="primary" class="input-box boxes"></ion-input>
  </ion-item>

</ion-content>