// Input Field
.input-item{
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --background-activated: transparent;
    --background-focused: transparent;

    .input-lbl{
        font-size: 13.6px;
        font-weight: bold;
        margin-bottom: 0px;
        color: #888; 
    }
    .input-box{
        // background: #f1f1f1;
        // border: 1px solid #f1f1f1;
        //--padding-top: 5px !important;
        //--padding-start: 8px !important;
        //--padding-bottom: 5px !important;
    }
    .boxes{
        border-bottom: 1px solid #f1f1f1;
        color: #000;
        font-size: 16px;
    }
    .icon{
        position: absolute;
        right: 10px;
        font-size: 24px;
        top: 36px;
        z-index: 999;
    }
    
}

.icon-eye{
    position: absolute;
    right: 0;
    color: grey;
    //font-size: 24px;
    //top: 30px;
    bottom: 5px;
    z-index: 999;
}

// Dropdown
.item-dropdown{
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --background-activated: transparent;
    --background-focused: transparent;
 
    .lbl-dropdown{
         font-size: 13.6px;
         font-weight: bold;
         margin-bottom: 0px;
         color: #888;   
    }
    .btn-select{
        --padding-end: 0px;
        --padding-start: 0px;
        font-size: 16px;
        //color: #00aeef;
    }
}
.bg{
    // background: #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}